.tabs 
{
    background-color: rgb(25, 25, 25);
    overflow: hidden;
}

.tabs a 
{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    width: 15%;
}

.tabs a:hover 
{
    background-color: rgb(0, 0, 0);
    color: rgb(118, 17, 17);
}

.tabs a.active 
{
    background-color: rgb(118, 17, 17);
    color: black;
}



.aboutme
{
    font-size:28px; padding-top: 10px; padding-left: 10px;
}


.bt1
{
    overflow:visible;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    background-color:rgb(164, 164, 164);
    height:300px;
    border: 5px solid rgb(118, 17, 17);
    margin: 20px;
}

.interestbox
{
   

    overflow:visible;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    background-color:rgb(164, 164, 164);
    height:270px;
    border: 5px solid rgb(118, 17, 17);
    margin: 20px;
}

.hobbybox
{
   
    overflow:visible;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    background-color:rgb(164, 164, 164);
    height:175px;
    border: 5px solid rgb(118, 17, 17);
    margin: 20px;
}

.techbox
{
   
    overflow:visible;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    background-color:rgb(164, 164, 164);
    height:195px;
    border: 5px solid rgb(118, 17, 17);
    margin: 20px;
}

.proj
{
    overflow:visible;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    background-color:rgb(164, 164, 164);
    height:130px;
    border: 5px solid rgb(118, 17, 17);
    margin: 20px;
}

.app
{
    overflow:visible;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    background-color:rgb(164, 164, 164);
    height:520px;
    border: 5px solid rgb(146, 199, 0);
    margin: 20px;
}

.aggiesinvent
{
    overflow:visible;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    background-color:rgb(164, 164, 164);
    height:500px;
    border: 5px solid rgb(129, 5, 253);
    margin: 20px;
}

.howdyhack
{
    overflow:visible;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    background-color:rgb(164, 164, 164);
    height:165px;
    border: 5px solid rgb(252, 46, 0);
    margin: 20px;
}

.research
{
    overflow:visible;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    background-color:rgb(164, 164, 164);
    height:170;
    border: 5px solid rgb(67, 5, 5);
    margin: 20px;
}

.skills
{
    overflow:visible;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    background-color:rgb(164, 164, 164);
    height:170;
    border: 5px solid rgb(201, 92, 92);
    margin: 20px;
}

.skills2
{
    overflow:visible;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    background-color:rgb(164, 164, 164);
    height:170;
    border: 5px solid rgb(255, 153, 0);
    margin: 20px;
}

.skills3
{
    overflow:visible;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    background-color:rgb(164, 164, 164);
    height:170;
    border: 5px solid rgb(0, 229, 255);
    margin: 20px;
}

.skills4
{
    overflow:visible;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    background-color:rgb(164, 164, 164);
    height:170;
    border: 5px solid rgb(118, 17, 17);
    margin: 20px;
}

.resume
{
    overflow:visible;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    background-color:rgb(164, 164, 164);
    height:80px;
    width: 560px;
    border: 5px solid rgb(0, 0, 0);
    margin: 20px;
    padding-left: 20px;
}

.pdf
{
    top: 1200px;
    position: absolute;
    right: 500px;
}

.volunteer
{
    overflow:visible;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    background-color:rgb(164, 164, 164);
    height:170;
    border: 5px solid rgb(83, 208, 139);
    margin: 20px;
}

.volunteerlist
{
    overflow:visible;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    background-color:rgb(164, 164, 164);
    height:690px;
    border: 5px solid rgb(149, 0, 255);
    margin: 20px;
}

.volimg
{
    top: 840px;
    position: absolute;
}

.tabs2
{
    background-color: rgb(25, 25, 25);
    overflow: hidden;
    
}

.tabs2 a 
{
    float: top;
    color: #f2f2f2;
    text-align: center;
    padding: 13px 20px;
    text-decoration: none;
    font-size: 20px;
    width: 20%;
}

.tabs2 a:hover 
{
    background-color: rgb(0, 0, 0);
    color: rgb(118, 17, 17);
}

.tabs2 a.active 
{
    background-color: rgb(118, 17, 17);
    color: black;
}

