<!--START OF TITLE BLOCK-->
<!DOCTYPE html>
<html>
  <body class="back">
    <head>
      <!-- style sheets linked here-->
      <link id="style" rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"></link>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
      <!--<link rel="stylesheet" href="style.css">-->
    </head>
    <body>
      <!-- Title at the top of the page-->
      <h1 class="title">
        Wastewater Modeling
        <head>
        <button type="button" id="signin" > Sign In </button>
        <script type="text/javascript">
            document.getElementById("signin").onclick = function () {
                location.href = "login.html";
            };
        </script>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
        </head>
        <body>
            <div class="google" style="float: right;">
                <a class="tamu_button" href="https://tamu.edu">
                    <img alt="Qries" src="{{ url_for('static',filename='images/tamu.png') }}" width="60px" height="60px"/>
                </a>
                <a class="github_button" href="https://github.com/wastewatermodeling">
                    <img alt="Qries" src="{{ url_for('static',filename='images/GitHub-Mark.png') }}" width="56px" height="56px" border="2px solid black"/>
                </a>
                <a href="google/" class="login-btn" style="text-decoration:none;">
                    <img alt="Qries" src="{{ url_for('static',filename='images/google.png') }}" width="252px" height="60px"/>
                </a>
            </div>
        </body>
      </h1>
      <a class="subtitle"> Team 15: Matthew Delorenzo, Quinlon Horndasch, Grace Salau & Ayaan Sunesara </a>
      <!--<a class="subtitle"> Sponsored by Los Alamos National Labratories </a>-->
      <br> </br>
      <!-- starting the tabs section-->
      <div class="tabs">
        <!-- Home page (to keep ordering consistent in title block) -->
        <a href="index.html"> Home </a>
        <a href="about_model.html"> About Model </a>
        <a href="file_upload.html"> File Upload </a>
        <a href="graphs_data.html"> Graph </a>
        <!-- class is active showing current page -->
        <a class="active" href="data.html"> Data </a>
        <!-- rest of the tab bars with the name and linked to the html pages-->
        <a href="history.html"> History </a>
      </div>
    </body>
    <!-- -->
    <!--END OF TITLE BLOCK-->

    <div class="intro">
      <header style="font-size: 40px; padding-top: 10px"> Data </header>
      <hr size="4" width="100%" color="black"/>
    </div>
