<!--START OF TITLE BLOCK-->
<!-- -->
<!DOCTYPE html>
<html>
  <body class="back">
    <head>
      <!-- style sheets linked here-->
      <link id="style" rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"></link>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    </head>
    <body>
      <!-- Title at the top of the page-->
      <h1 class="title">
        Wastewater Modeling
        <!--<a href="https://www.lanl.gov/">
          <img
            alt="Qries"
            src="lanl.png"
            align="right"
            width="550px"
            height="120px"
          />
        </a>-->
      </h1>
      <a class="subtitle"> Team 15: Matthew Delorenzo, Quinlon Horndasch, Grace Salau & Ayaan Sunesara </a>
      <!--<a class="subtitle"> Sponsored by Los Alamos National Labratories </a>-->
      <br> </br>
      <!-- starting the tabs section-->
      <div class="tabs">
        <!-- Home page (to keep ordering consistent in title block) -->
        <a href="index.html"> Home </a>
        <!-- class is active showing current page -->
        <a class="active"> File Upload </a>
        <!-- rest of the tab bars with the name and linked to the html pages-->
        <a href="graphs_data.html"> Graphs & Data </a>
        <a href="history.html"> History </a>

        <div class="tabs2">
          <!-- git hub image here linked to our repo-->
          <a href="https://github.com/wastewatermodeling">
            <img alt="Qries" src="{{ url_for('static',filename='images/GitHub-Mark.png') }}" width="35px" height="35px"/>
          </a>
          <!-- tamu image here linked to the website to rep the university-->
          <a href="https://tamu.edu">
            <img alt="Qries" src="{{ url_for('static',filename='images/tamu.png') }}" width="35px" height="35px"/>
          </a>
        </div>
      </div>
    </body>
    <!-- -->
    <!--END OF TITLE BLOCK-->

    <div class="intro">
      <header style="font-size: 40px; padding-top: 10px"> File Upload </header>
      <hr size="4" width="100%" color="black"/>
    </div>

    <div class="file_upload">
      <div class="upload_desc">
        <p> Click on the "Choose File" Button to Select a File and Click on the "Upload" Button to Send it to the Server:</p>
      </div>
        <div class="upload_button">
          <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" id="file" name="file">
            <input type="submit" name="upload" value="Upload" class="btn btn-success">
          </form>
          <div class="msg">
            &nbsp {{msg}}
          </div>
        </div>
    </div>

    <div class="file_upload_desc_title">
      <p> General Guidelines: </p>
    </div>

    <div class="file_upload_desc">
      <p>
        <img alt="File Upload - Required CSV File Example" src="{{ url_for('static', filename='images/ReqEx_FileUpload.png') }}" width="675px" height="450px" style="float: right;">
        In order to utilize this application with your own wastewater data there are two <br>
        major requirements that must be met in order to ensure that the application works <br>
        correctly. The image to the right gives a visual example of these requirements <br>
        while the short list below are the specifics of the requirements/instructions. <br>
        <br>
        1. Click upload file then navigate to desired file. <br>
        &nbsp &nbsp &nbsp &nbsp a. Must be a CSV (comma-seperated value) file. <br>
        2. The file must also contain two columns. <br>
        &nbsp &nbsp &nbsp &nbsp a. Column 1: Contains date (mm/dd/yyyy). <br>
        &nbsp &nbsp &nbsp &nbsp b. Column 2: Corresponding COVID-19 wastewater measurement.
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
      </p>
      <hr size="4" width="100%" color="black"/>
    </div>
  </body>
</html>
