<!-- Link for website for deveolpment: http://127.0.0.1:5000 -->
<!--START OF TITLE BLOCK-->
<!-- -->
<!DOCTYPE html>
<html>
  <body class="back">
    <head>
      <!-- style sheets linked here-->
      <link id="style" rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"></link>
      <!--<link rel="stylesheet2" href="style2.css" />-->
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    </head>
    <body>
      <!-- Title at the top of the page-->
      <h1 class="title">
        Wastewater Modeling
        <!--<a href="https://www.lanl.gov/">
          <img
            alt="Qries"
            src="lanl.png"
            align="right"
            width="550px"
            height="120px"
          />
        </a>-->
      </h1>
      <a class="subtitle"> Team 15: Matthew Delorenzo, Quinlon Horndasch, Grace Salau & Ayaan Sunesara </a>
      <!--<a class="subtitle"> Sponsored by Los Alamos National Labratories </a>-->
      <br> </br>
      <!-- starting the tabs section-->
      <div class="tabs">
        <!-- class is active showing current page -->
        <a class="active" href="index.html">Home</a>
        <!-- rest of the tab bars with the name and linked to the html pages-->
        <a href="file_upload.html">File Upload</a>
        <a href="graphs_data.html">Graphs & Data</a>
        <a href="history.html">History</a>

        <div class="tabs2">
          <!-- git hub image here linked to our repo-->
          <a href="https://github.com/wastewatermodeling">
            <img alt="Qries" src="{{ url_for('static',filename='images/GitHub-Mark.png') }}" width="35px" height="35px" />
          </a>
          <!-- tamu image here linked to the website to rep the university-->
          <a href="https://tamu.edu">
            <img alt="Qries" src="{{ url_for('static',filename='images/tamu.png') }}" width="35px" height="35px" />
          </a>
        </div>
      </div>
    </body>
    <!-- -->
    <!--END OF TITLE BLOCK-->

    <div class="intro">
      <header style="font-size: 40px; padding-top: 10px">Introduction</header>
      <hr size="4" width="100%" color="black" />
    </div>
    <!--This is for the introdcution box and content inside of it-->
    <div class="introduction">
      <p style="margin-top: 10px; margin-bottom: 10px;">
        &nbsp <u> About Wastewater Modeling</u>: <br>
        &nbsp Wastewater modeling is an increasingly popular way to track things like SARS-CoV-2 more accurately. 
        Currently the &nbsp primary way to track COVID-19 levels in an area are the reported cases. While this is 
        an effective way to track these &nbsp &nbsp numbers in theory, there are many draw-backs to this. The major 
        issues with this method is that there are &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
        inconsistencies in reporting, asymptomatic cases and a long period between taking and receiving the results 
        back &nbsp &nbsp &nbsp &nbsp &nbsp from the tests themselves. Using wastewater to test for things like this 
        allows for better and more accurate results &nbsp &nbsp &nbsp &nbsp &nbsp which in turn leads to better 
        records of COVID-19 throughout the years. 
        <br> </br>
        &nbsp <u> About Web Application</u>: <br>
        &nbsp This web application will allow data (related to COVID-19 levels detected in wastewater) to be 
        uploaded to an AWS &nbsp &nbsp server where the data will then be parsed through and sorted. From there the 
        parsed data will be sent through a &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp program to graph the current 
        (currently uploaded and past uploads) data while also sending it through a predictive &nbsp &nbsp &nbsp 
        &nbsp algorithm. This will give a visual representation of the data and provide a prediction on the future 
        trend of &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp COVID-19.
      </p>
    </div>

    <div class="upload_button">
      <form action="/login" method="POST">
        <input type="submit" value="login here">
      </form>
    <div class="msg">
    </div>
    </div>

    <hr size="4" width="100%" color="black" />
    <br>
    <hr size="4" width="100%" color="black" />
    <header style="font-size: 40px; padding-top: 10px; margin-top: -7px; margin-bottom: 12px;">Helpful Links</header>
    <hr size="4" width="100%" color="black" />
    <div class="links">
      <p style="margin-top: 10px; margin-bottom: 10px;">
        &nbsp <u> CDC's National Wastewater Surveillance System (NWSS)</u>:
        <a href="https://www.cdc.gov/healthywater/surveillance/wastewater-surveillance/wastewater-surveillance.html#:~:text
            =Wastewater%20from%20a%20sewershed%20(the,SARS%2DCoV%2D2%20testing.">CDC Link</a> <br>
        &nbsp <u> Los Alamos National Labratory (LANL) COVID-19 Genome Pipeline</u>:
        <a href="https://cov.lanl.gov/content/index">Los Alamos National Labratory Link</a> <br>
        &nbsp <u> Rice's Houston Wastewater Monitoring Dashboard</u>:
        <a href="https://covidwwtp.spatialstudieslab.org/">Rice Link</a> <br>
        </p>
     </div>
  </body>
</html>
