<!--START OF TITLE BLOCK-->
<!-- -->
<!DOCTYPE html>
<html>
  <body class="back">
    <head>
      <!-- style sheets linked here-->
      <link id="style" rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"></link>
      <!--<link rel="stylesheet2" href="style2.css" />-->
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    </head>
    <body>
      <!-- Title at the top of the page-->
      <h1 class="title">
        Waste Water Modeling
        <!--<a href="https://www.lanl.gov/">
          <img
            alt="Qries"
            src="lanl.png"
            align="right"
            width="550px"
            height="120px"
          />
        </a>-->
      </h1>
      <a class="subtitle"> TAMU ECEN Senior Design Project </a>
      <!--<a class="subtitle"> Sponsored by Los Alamos National Labratories </a>-->
      <br> </br>
      <a class="names"> Team 15: Matthew Delorenzo, Quinlon Horndasch, Grace Salau & Ayaan Sunesara </a>
      <br> </br>
      <!-- starting the tabs section-->
      <div class="tabs">
        <!-- class is active showing current page -->
        <a class="active" href="index.html">Home</a>
        <!-- rest of the tab bars with the name and linked to the html pages-->
        <a href="file_upload.html">File Upload</a>
        <a href="graphs_data.html">Graphs & Data</a>
        <a href="history.html">History</a>

        <div class="tabs2">
          <!-- git hub image here linked to our repo-->
          <a href="https://github.com/wastewatermodeling">
            <img alt="Qries" src="{{ url_for('static',filename='images/GitHub-Mark.png') }}" width="35px" height="35px" />
          </a>
          <!-- tamu image here linked to the website to rep the university-->
          <a href="https://tamu.edu">
            <img alt="Qries" src="{{ url_for('static',filename='images/tamu.png') }}" width="35px" height="35px" />
          </a>
        </div>
      </div>
    </body>
    <!-- -->
    <!--END OF TITLE BLOCK-->

    <div class="intro">
      <header style="font-size: 40px; padding-top: 10px">Introduction</header>
      <hr size="4" width="100%" color="black" />
    </div>
    <!--This is for the introdcution box and content inside of it-->
    <div class="introduction">
      <p>
        Wastewater modeling is an increasingly popular way to track things like SARS-CoV-2 more accurately. 
        Currently the primary way to track COVID-19 levels in an area are the reported cases. While this is 
        an effective way to track these numbers in theory, there are many draw-backs to this. The major 
        issues with this method is that there are inconsistencies in reporting, asymptomatic cases and a 
        long period between taking and receiving the results back from the tests themselves. Using 
        wastewater to test for things like this allows for better and more accurate results which in turn 
        leads to better records of COVID-19 throughout the years. 
      </p>
      <p>
        This web application will allow data (related to COVID-19 levels detected in wastewater) to be 
        uploaded to an AWS server where the data will then be parsed through and sorted. From there the 
        parsed data will be sent through a program to graph the current (currently uploaded and past uploads) data 
        while also sending it through a predictive algorithm. This will give a visual representation of the 
        data and provide a prediction on the future trend of COVID-19.
      </p>
    </div>
    <!--Add more contents inside here to add to the home page-->

    <!--Start of Graph Code-->
    <canvas id="testChart" width="900" height="400"></canvas>
    <script>
        var ctx = document.getElementById("testChart").getContext("2d");
        var testChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: {{ labels | safe }},
                datasets: [
                    {
                        label: "Data Points",
                        data: {{ values | safe }},
                        fill: false,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1
                    }
                ]
            },
            options: {
                responsive: false
            }
        });
    </script>
<!--End of Graph Code-->

  </body>
</html>
