<!--START OF TITLE BLOCK-->
<!-- -->
<!DOCTYPE html>
<html>
  <body class="back">
    <head>
      <!-- style sheets linked here-->
      <link id="style" rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"></link>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    </head>
    <body>
      <!-- Title at the top of the page-->
      <h1 class="title">
        Wastewater Modeling
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
        </head>
        <body>
            <div class="google" style="float: right;">
                <a class="tamu_button" href="https://tamu.edu">
                    <img alt="Qries" src="{{ url_for('static',filename='images/tamu.png') }}" width="60px" height="60px"/>
                </a>
                <a class="github_button" href="https://github.com/wastewatermodeling">
                    <img alt="Qries" src="{{ url_for('static',filename='images/GitHub-Mark.png') }}" width="56px" height="56px" border="2px solid black"/>
                </a>
                <a href="login.html" style="text-decoration:none;">
                    <img alt="Qries" src="{{ url_for('static',filename='images/google.png') }}" width="252px" height="60px"/>
                </a>
            </div>
        </body>
      </h1>
      <a class="subtitle"> Team 15: Matthew Delorenzo, Quinlon Horndasch, Grace Salau & Ayaan Sunesara </a>
      <!--<a class="subtitle"> Sponsored by Los Alamos National Labratories </a>-->
      <br> </br>
      <!-- starting the tabs section-->
      <div class="tabs">
        <!-- Home page (to keep ordering consistent in title block) -->
        <a href="index.html"> Home </a>
        <a href="about_model.html"> About Model </a>
        <a href="file_upload.html"> File Upload </a>
        <a href="graphs_data.html"> Graph </a>
        <a href="data.html"> Data </a>
        <a href="history.html"> History </a>
      </div>
    </body>
    <!-- -->
    <!--END OF TITLE BLOCK-->


<!--    <div class="intro">
      <header style="font-size: 40px; padding-top: 10px"> Log In </header>
      <hr size="4" width="100%" color="black"/>
    </div>


<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}


input[type=text], input[type=password] {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
</head>
<body>
<div class="login_box">
  <div class="container">
    <br>
    <label for="uname"><b>Username</b></label> <br>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <br>
    <label for="psw"><b>Password</b></label> <br>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <br>
    <button type="submit">Login</button>
  </div>
</div>
</form>
</body>
</html> -->


<!--
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
</head>
<br>
<body>
        <div class="google" align="center">
            <a href="google/" class="login-btn" style="text-decoration:none;">
                <img alt="Qries" src="{{ url_for('static',filename='images/google.png') }}" width="273px" height="65px"/>
            </a>
        </div>
</body>
-->


<!--Add buttons to initiate auth sequence and sign out-->

<div class="containerBlock" id  = "signin_b1">
  <div class="container" id="signin_b2"> 
    <p>Sign In Here</p>
    <button id="authorize_button" onclick="handleAuthClick()">Sign In</button>
  </div>
</div>

<div class="containerBlock" id  = "signout_b1">
  <div class="container" id="signout_b2"> 
    <p>Sign Out Here</p>
    <button id="signout_button" onclick="handleSignoutClick()">Sign Out</button>
  </div>
</div>


<pre id="content" style="white-space: pre-wrap;"></pre>

<script type="text/javascript">
  /* exported gapiLoaded */
  /* exported gisLoaded */
  /* exported handleAuthClick */
  /* exported handleSignoutClick */

  // Authorization scopes required by the API; multiple scopes can be
  // included, separated by spaces.
  const SCOPES = 'https://www.googleapis.com/auth/drive.metadata.readonly';

  const CLIENT_ID = '227467647033-9ur7q19ivmmklj1d0tsubsv7mv9c9s6f.apps.googleusercontent.com';

  const API_KEY = 'AIzaSyBhMKHdL0L-1dhb7pGPq5rjRMilYbEXC6U';

  const APP_ID = 'wastewater-modeling';

  let tokenClient;
  let accessToken = null;
  let pickerInited = false;
  let gisInited = false;


  document.getElementById('authorize_button').style.visibility = 'hidden';
  document.getElementById('signin_b1').style.visibility = 'hidden';
  document.getElementById('signin_b2').style.visibility = 'hidden';
  document.getElementById('signout_b1').style.visibility = 'hidden';
  document.getElementById('signout_b1').style.visibility = 'hidden';
  document.getElementById('signout_button').style.visibility = 'hidden';

  /**
   * Callback after api.js is loaded.
   */
  function gapiLoaded() {
    gapi.load('client:picker', initializePicker);
  }

  /**
   * Callback after the API client is loaded. Loads the
   * discovery doc to initialize the API.
   */
  async function initializePicker() {
    await gapi.client.load('https://www.googleapis.com/discovery/v1/apis/drive/v3/rest');
    pickerInited = true;
    maybeEnableButtons();
  }

  /**
   * Callback after Google Identity Services are loaded.
   */
  function gisLoaded() {
    tokenClient = google.accounts.oauth2.initTokenClient({
      client_id: CLIENT_ID,
      scope: SCOPES,
      callback: '', // defined later
    });
    gisInited = true;
    maybeEnableButtons();
  }

  /**
   * Enables user interaction after all libraries are loaded.
   */
  function maybeEnableButtons() {
    if (pickerInited && gisInited) {
      document.getElementById('authorize_button').style.visibility = 'visible';
      document.getElementById('signin_b1').style.visibility = 'visible';
      document.getElementById('signin_b2').style.visibility = 'visible';
    }
  }

  /**
   *  Sign in the user upon button click.
   */
  function handleAuthClick() {
    tokenClient.callback = async (response) => {
      if (response.error !== undefined) {
        throw (response);
      }
      accessToken = response.access_token;
      document.getElementById('signout_button').style.visibility = 'visible';
      document.getElementById('signout_b1').style.visibility = 'visible';
      document.getElementById('signout_b2').style.visibility = 'visible';
      document.getElementById('authorize_button').style.visibility = 'hidden';
      document.getElementById('signin_b1').style.visibility = 'hidden';
      document.getElementById('signin_b2').style.visibility = 'hidden';
      await createPicker();
    };

    if (accessToken === null) {
      // Prompt the user to select a Google Account and ask for consent to share their data
      // when establishing a new session.
      tokenClient.requestAccessToken({prompt: 'consent'});
    } else {
      // Skip display of account chooser and consent dialog for an existing session.
      tokenClient.requestAccessToken({prompt: ''});
    }
  }

  /**
   *  Sign out the user upon button click.
   */
  function handleSignoutClick() {
    if (accessToken) {
      accessToken = null;
      google.accounts.oauth2.revoke(accessToken);
      document.getElementById('content').innerText = '';
      document.getElementById('signout_button').style.visibility = 'hidden';
      document.getElementById('signout_b1').style.visibility = 'hidden';
      document.getElementById('signout_b2').style.visibility = 'hidden';
      document.getElementById('authorize_button').style.visibility = 'visible';
      document.getElementById('signin_b1').style.visibility = 'visible';
      document.getElementById('signin_b2').style.visibility = 'visible';
    }
  }

  /**
   *  Create and render a Picker object for searching images.
   */
  function createPicker() {
    const view = new google.picker.View(google.picker.ViewId.DOCS);
    /*view.setMimeTypes('image/png,image/jpeg,image/jpg');*/
    const picker = new google.picker.PickerBuilder()
        .enableFeature(google.picker.Feature.NAV_HIDDEN)
        .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
        .setDeveloperKey(API_KEY)
        .setAppId(APP_ID)
        .setOAuthToken(accessToken)
        .addView(view)
        .addView(new google.picker.DocsUploadView())
        .setCallback(pickerCallback)
        .build();
    picker.setVisible(true);
  }

  /**
   * Displays the file details of the user's selection.
   * @param {object} data - Containers the user selection from the picker
   */
  async function pickerCallback(data) {
    if (data.action === google.picker.Action.PICKED) {
      let text = `Picker response: \n${JSON.stringify(data, null, 2)}\n`;
      //download_url = json_variable["docs"][0]["id"];
      //window.location.assign(download_url);
      const document = data[google.picker.Response.DOCUMENTS][0];
      const fileId = document[google.picker.Document.ID];
      console.log(fileId);
      var request = await gapi.client.drive.files.get({
        'fileId': fileId,
        'fields': '*',
      });

      /*request.execute(function (resp) {
        console.log("Hi: " + resp.title);
        window.location.assign(resp.webContentLink);
      });*/
      
      //console.log("Result: " + res);
      text += `Drive API response for first document: \n${JSON.stringify(request.result, null, 2)}\n`;
      json_variable = JSON.parse((JSON.stringify(request.result, null, 3)));
      //console.log(json_variable["webContentLink"]);
      window.location.assign(json_variable["webContentLink"]);
      window.document.getElementById('content').innerText = text;
    }
  }
</script>
<script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
<script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>


</html>
